* {
    box-sizing: border-box;
}

.container {
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 0;
}
.slider-heading {
    color: white;
    font-size: 4vmin;
    margin: 0 auto;
    text-align: center;
}
.slider {
    width: 50%;
    max-width: 550px;
    margin: 1rem auto;
}
.gallery::-webkit-scrollbar { 
    display: none;
}
.gallery {
    display: flex;
    overflow-x: scroll;
    border-radius: 2%;
    scroll-behavior: smooth;
}
.gallery-img {
    display: block;    
    width: 100%;
    height: auto;
}
.circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    border: 0.2em solid rgb(160, 160, 160);
    margin-right: 1%;  
}

.lab:hover .circle {
    background-color: white;
    border: 0.2em solid white;
    /* cursor: pointer; */
}
.lab:hover {
    cursor: pointer;
}
.lab {
    padding: 1%;
}


.radio {
    display: none;
}
#pag1:checked + .lab > .circle,
#pag2:checked + .lab > .circle,
#pag3:checked + .lab > .circle,
#pag4:checked + .lab > .circle,
#pag5:checked + .lab > .circle {
    background-color: black;
}
.img-title  {
    padding: 1%;
    width: 60%;
    color: white;
    text-align: left;
    font-size: 1.3em;
    margin: 0;
}
.img-title p {
    margin: 0;
    display: none;
}
.pagination  {
    text-align: right;
    margin-top: 5%;
    display: flex;    
    flex-direction: row-reverse;
    justify-content: space-between;
}

#pag1:checked ~ .img-title .img-title1,
#pag2:checked ~ .img-title .img-title2,
#pag3:checked ~ .img-title .img-title3,
#pag4:checked ~ .img-title .img-title4,
#pag5:checked ~ .img-title .img-title5 {
    display: block;
    animation-name: showTitle;
    animation-duration: 1s;
}
@keyframes showTitle {
    from {opacity: 0}
    to {opacity: 1;}
}


@media screen and (max-width: 1023px) {
    .pagination  {
        text-align: center;
        display: block;
        direction: rtl;
    }
    .img-title{
        width: 100%;
        margin-top: 3%;
    }
}