* {
    box-sizing: border-box;
}

.container {
    background-color: black;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 0;
    /* min-height: 800px; */
    /* height: 100%; */
}
.slider-heading {
    color: white;
    font-size: 8qvm;
    margin: 0 auto;
    text-align: center;
}
.slider {
    border: 3px solid red;
    width: 50%;
    max-width: 550px;
    margin: 20px auto;
    overflow: hidden;
}
.gallery {
    display: flex;
       
}
.gallery-img {
    display: block;    
    width: 100%;
    height: auto;
}

/* .slider {
    padding: 20px 0 0 0;
    width: 800px;
    margin: auto;
    overflow: hidden;
}
.gallery {
    display: flex;
    gap: 20px;
}
.gallery-img {
    width: 100%;
    max-width: 550px;
    height: auto;
    
} */
