* {
    box-sizing: border-box;
}

.container {
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}
.slider-heading {
    color: white;
    font-size: 4vmin;
    margin: 0 auto;
    text-align: center;
}
.slider {
    width: 50%;
    max-width: 550px;
    margin: 20px auto;
}
.gallery::-webkit-scrollbar { 
    display: none;
}
.gallery {
    display: flex;
    overflow-x: scroll;
    border-radius: 2%;
    scroll-behavior: smooth;
}
.gallery-img {
    display: block;    
    width: 100%;
    height: auto;
}
.pagination {
    text-align: right;
    margin-top: 20px;
}
.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    border: 3px solid rgb(160, 160, 160);
    margin-right: 5px;  
}
.circle:hover {
    background-color: white;
    border: 3px solid white;
    cursor: pointer;
}
.radio {
    display: none;
}
#pag1:checked + .lab > .circle,
#pag2:checked + .lab > .circle,
#pag3:checked + .lab > .circle,
#pag4:checked + .lab > .circle,
#pag5:checked + .lab > .circle {
    background-color: black;
}